<div class="ui hidden divider"/>
<div class="ui hidden divider"/>
<div class="ui page grid center aligned">

<div class="ui feed">
{{#each messages as |msg|}}
  <div class="event red label">
    <div class="label">
	<i class="ui announcement icon"></i>
    </div>
    <div class="content">
      <div class="summary">
        <a class="user">
          {{msg.text}}
        </a> added you as a friend
        <div class="date">
          1 Hour Ago
        </div>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 4 Likes
        </a>
      </div>
    </div>
  </div>
{{/each}}
</div>
{{yield}}
</div>

