 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui page grid center aligned">
	
	<div class="ui row">
                <div class="column">
                        <h2>Contact Us</h2>
                </div>
        </div>

<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="assets/images/esei.jpg">
    </div>
    <div class="content">
      <div class="header">Escola Superior de Enxeñaría Informatica (ESEI)</div>
      <div class="meta">
      </div>
      <div class="description">
	      <p><i class="phone icon"></i><a href="tel:+34 988 387030">+34 988 387030</a></p>
	      <p><i class="phone icon"></i><a href="tel:+34 988 387098">+34 988 387098</a></p>
	      <p><i class="phone icon"></i><a href="tel:+34 988 387000">+34 988 387000</a></p>
	      <p><i class="fax icon"></i><a href="fax:+34 988 387000">+34 988 387001 (fax)</a></p>
	      <p><i class="mail icon"></i><a href="mailto:formella@ei.uvigo.es">formella@ei.uvigo.es</a></p>
      </div>
      <div class="ui horizontal divider">Or by postal address at</div>
      <div class="description">
	      <p><i>
		Universidade de Vigo 
		<br/>
		Escola Superior de Enxeñaría Informática 
		<br/>
		Arno Formella 
		<br/>
		(Campus de Ourense, Edificio Politécnico) 
		<br/>
		As Lagoas s/n 
		<br/>
		32004 Ourense (Spain) 
	      </i></p>
      </div>
    </div>
    <div class="extra content">
      <span class="lef floated"><a target="_blank" href="https://www.google.es/maps/place/42%C2%B020'41.2%22N+7%C2%B051'19.6%22W/@42.3451913,-7.8572989,16.89z/data=!4m2!3m1!1s0x0:0x0?hl=en"><i class="map icon"></i>Map coordinates</a></span>
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="assets/images/citi.jpg">
    </div>
    <div class="content">
      <div class="header">Centro de Investigación, Transferencia e Innovación (CITI)</div>
      <div class="meta">
      </div>
      <div class="description">
	      <p><i class="phone icon"></i><a href="tel:+34 988 387407">+34 988 387407</a></p>
	      <p><i class="phone icon"></i><a href="tel:+34 988 387098">+34 988 387400</a></p>
	      <p><i class="fax icon"></i><a href="fax:+34 988 387000">+34 988 387401 (fax)</a></p>
	      <p><i class="mail icon"></i><a href="mailto:formella@ei.uvigo.es">formella@ei.uvigo.es</a></p>
	      <br/>
      </div>
      <div class="ui horizontal divider">Or by postal address at</div>
      <div class="description">
	      <p><i>
		Centro de Investigación, Transferencia e Innovación 
		<br/>
		Parque Tecnolóxico de Galicia (Tecnópole) 
		<br/>
		Laboratorio de Informática Aplicada
		<br/>
 		(Módulo I) 
		<br/>
		Avda. Galicia No.2 
		<br/>
		San Cibrao das Viñas 
		<br/>
		32900 Ourense (Spain) 
	      </i></p>
      </div>
    </div>
    <div class="extra content">
      <span class="lef floated"><a target="_blank" href="https://www.google.es/maps/place/42%C2%B017'49.3%22N+7%C2%B047'58.7%22W/@42.297651,-7.8019347,17z/data=!4m2!3m1!1s0x0:0x0?hl=en"><i class="map icon"></i>Map coordinates</a></span>
    </div>
  </div>
</div>




</div>
{{yield}}
