{{#if loading}}
<div class="ui left icon input disabled loading fluid">
  <input type="text" value="Creating {{folderName}}" />
  <i class="ui yellow folder icon"></i>
</div>
{{else}}
<div class="ui left icon input fluid">
  {{input type="text" placeholder="New folder" focus-out="hide" value=folderName key-up="create"}}
  <i class="ui yellow folder icon"></i>
</div>
{{/if}}
