<div class="ui hidden divider"></div>
<div class="ui vertical footer segment form-page">
	<div class="ui center aligned container">
		<div class="ui horizontal  small divided link list">
			{{#link-to 'public.contact' class="item"}}<i class="call icon"></i>Contact Us{{/link-to}}
			<a class="item" href="#"><i class="sitemap icon"></i>Site Map</a>
			<a class="item" href="#"><i class="legal icon"></i>Terms and Conditions</a>
			<a class="item" href="#"><i class="privacy icon"></i>Privacy Policy</a>
      		</div>
	</div>
	<div class="ui center aligned container">
      		<div class="ui horizontal  small divided link list">
        		<a class="item" href="#">&copy; LIA2 2016</a>
      		</div>
	</div>
</div>
{{yield}}
