<div class="ui one column stackable center aligned page grid">

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui blue image header">
      <img src="assets/images/logo.svg" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form {{action "login" on="submit"}} class="ui large form">
	<div class="ui inverted dimmer" >
		<div class="ui text loader"><b>Log in</b></div>
	</div>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
	    {{input name="username" type="text" value=identification autofocus=true placeholder="Username"}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
	    {{input name="password" type="password" value=password  placeholder="Password"}}
          </div>
        </div>
        <div class="ui fluid large submit button">Login</div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>

</div>
