<div class="ui row">
<div class="ui one column  center aligned page grid">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="white">ClawIO</h1>
    <p class="white">Cloud [Sync] Storage Gateway solution that provides excellent performance, reliability and scalability</p>
  </div>
</div>

</div>
</div>

<div class="ui hidden divider"/>
<div class="ui hidden divider"/>

<div class="ui dimmer" >
<div class="ui text loader">Authenticating user</div>

</div>
<div class="ui row">
<div class="ui one column  center aligned page grid">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form {{action "login" on="submit"}} class="ui form">
      <div class="ui error message red label"/>
      <div class="ui">
        <div class="field">
          <div class="ui left icon input required">
            <i class="blue user icon"></i>
	    {{input name="username" type="text" value=identification autofocus=true placeholder="Username"}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input required">
            <i class="red lock icon"></i>
	    {{input name="password" type="password" value=password  placeholder="Password"}}
          </div>
        </div>
        <div class="ui fluid inverted yellow submit button">Login</div>
      </div>
    </form>
  </div>
</div>

</div>
</div>
