<div class="ui one column stackable center aligned page grid">
   <div class="column six wide">
	<div class="ui attached message">
	  <div class="header">Log in</div>
	  <p>Fill out the form below to log in</p>
	  <img src="assets/images/logo-blue.svg" style="width:25%; height:25%"/>
	</div>
	<form {{action "login" on="submit"}} class="ui form attached fluid segment">
		<div class="ui inverted dimmer" >
			<div class="ui text loader"><b>Log in</b></div>
		</div>
		<div class="field">
			<label>Username</label>
			{{input name="username" type="text" value=username autofocus=true}}
		</div>
		<div class="field">
			<label>Password</label>
			{{input name="password" type="password" value=password}}
		</div>
		<button type="submit" class="ui green button">Log in</button>
		<div class="ui error message"></div>
	</form>
	{{yield}}
   </div>
</div>
