{{#if latestMessage}}
<div class="ui bottom sidebar ui overlay visible very wide">
  <div class="ui center aligned grid">
    <div class="one column row">
      <div class="sixteen wide column">
	<div class="ui label {{latestMessage.color}} large fluid" {{action "markAsReaded" latestMessage}}>
	  <p>{{latestMessage.text}}</p>
	</div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{yield}}
