<div class="ui large breadcrumb">
  <a {{action "list" "/"}} class="section">Home</a>
  <i class="right angle icon divider"></i>

  {{#each breadcrumbs as |breadcrumb|}}
  <a {{action "list" breadcrumb.pathspec}} class="section">{{breadcrumb.name}}</a>
  <i class="right angle icon divider"></i>
  {{/each}}  

</div>
{{yield}}
