 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui page grid center aligned">
	<div class="ui row">
                <div class="column">
                        <p>You are <b>{{person.display_name}}</b></p>
                        <p>Your username is <b>{{person.username}}</b></p>
                        <p>Your email is <b>{{person.email}}</b></p>
                </div>
        </div>
</div>
{{yield}}
