 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui page grid center aligned">
	<div class="ui row">
                <div class="column">
                        <p>You are <b>Hugo Gonzalez Labrador</b></p>
                        <p>Your username is <b>labkode</b></p>
                        <p>Your email is <b>labkode@hugo.labkode.com</b></p>
                </div>
        </div>
</div>
{{yield}}
