<div class="ui blue small progress">
	<div class="bar">
		<div class="progress"></div>
	</div>
	<div class="label"></div>
</div>
<div class="ui center aligned grid small">
<div class="ui basic pointing label">
  <p class="detail">Uploading {{filename}} ({{sizeRatio}} bytes)</p>
</div>

</div>
{{yield}}
