<form class="ui form">
<div class="ui field">
<div class="ui action input fluid">
  <input readonly type="text" value="{{link.token}}">
  <button {{action "copy"}} class="ui icon button basic">
    <i class="blue copy icon"></i>
  </button>
</div>
</div>
<div class="ui field">
<button {{action "unlink"}} class="ui button negative mini">
 <i class="ui icon unlinkify"/> Unlink
</button> </div>
</form>
