<form class="ui form">
<div class="ui field">
<div class="ui action input fluid mini">
  <input readonly type="text" value="{{link.token}}">
  {{#link-to "public.links.info" link.token class="ui button mini basic" target="_blank"}}
   <i class="ui icon external"/> Access
  {{/link-to}}
</div>
</div>
<div class="ui field">
	<button {{action "unlink"}} class="ui button red inverted mini">
	 <i class="ui icon unlinkify"/> Unlink
	</button>
</div>
</form>
