<div class="ui internally celled grid">
  <div class="row">
    <div class="three wide column">
	<div class="ui vertical blue menu fluid secondary">
	  {{#link-to "admin.files.list-home" class="item blue"}}
	    <i class="ui icon blue cubes"></i>
	    My files
          {{/link-to}}
          {{outlet "sidebar-links"}}
	</div>

        <div class="row">
        {{outlet "sidebar-content"}}
        </div>
    </div>
    <div class="thirteen wide column">
    {{outlet}}
    </div>
  </div>
</div>
