<!-- TRICK: sticky footer trick from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ -->
<div class="Site">
<main class="Site-content">
{{outlet}}
</main>
{{footer-component}}
</div>
