 <div class="ui hidden divider"></div>
 <div class="ui hidden divider"></div>
 <div class="ui page grid center aligned">

	<div class="ui row">
                <div class="column">
 			<div class="ui page grid center aligned">
				<img class="ui small rounded image" src="assets/images/logo.svg" style="width:25%; height:25%"/>
			</div>
                        <p class="ui huge header">ClawIO</p>
                        {{#link-to 'login' class="ui huge primary button"}}Access the service{{/link-to}}
                </div>
        </div>


	
        <div class="ui hidden divider"></div>
            <div class="row">
	    </div>
</div>
{{outlet}}
