<div style="background-image: url('assets/images/background.jpg'); background-size: cover">
<div>
{{login-page}}
{{outlet}}
</div>
<div class="ui bottom corner huge red label"><a class="ui active" target="_blank" href="https://github.com/clawio/"><i class="ui icon github"></i></a></div>
</div>
