<div class="ui menu">
  {{#link-to "public" class="item"}}
	<img src="assets/images/logo.svg" />
  {{/link-to}}
  {{#link-to "public" class="item"}}Laboratorio de Informatica Aplicada 2 {{/link-to}}

  <div class="right menu">
  	{{#link-to "public.contact" class="item"}}<i class="call icon"></i>Contact Us{{/link-to}}
  </div>
</div>

{{outlet}}

